{erl_opts, [
  debug_info,
  {i, "./deps/rabbitmq-server/include"},
  {i, "./deps/rabbitmq-erlang-client/include"},
  {i, "./deps/rabbitmq-erlang-client/deps"}
]}.
{lib_dirs, ["./deps"]}.
{xref_checks, [undefined_function_calls]}.

{deps, [
  {dqueue, ".*", {git, "git://github.com/auser/dqueue.git", "master"}}
]}.